* {
    margin:0px;
    padding:0px;
    box-sizing: 0px;
    color: beige;
}

body {
    background-color: black;
    background-image: url("./images/MilkyWaySky.png");
    background-repeat: no-repeat;
    background-position: center top;
}
.heading {
    text-align:center;
    margin:32px;
    font-size:56px;
    font-weight:bolder;
    color: palegoldenrod;
    text-shadow: 2px 2px 5px gray;

}

.navclass {
    margin:64px;
    font-size:40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.navclass a {
    color: goldenrod;
}

#aboutme {
    margin: 384px;
    font-weight: bold;
}

#aboutmecontent {
    margin:4px;
    padding:48px;
}

#toolset {
    margin: 384px;
}

#toolsetcontent {
    margin:4px;
    padding:48px;
}

#toolsetcontent img {
    width:256px;
    height:auto;
}

#threedmodels {
    margin: 384px;
}

/* #threedmodelscontent {
    margin:4px;
    padding:48px;
    display:flex;
    justify-content: space-around;
} */

#threedmodels h2 {
    display:flex;
    justify-content:space-around;
    flex-direction:row-reverse;
}

#threedmodels img {
    margin:16px;
    padding:16px;
    border-width:16px;
    width:512px;
    height:auto;
    align-content:center;
}

#materialsandtextures {
        margin: 384px;
}

#materialsandtextures h2 {
    margin:16px;
    padding:16px;
}

#materialsandtextures h3 {
    margin:24px;
    padding:24px;
}

#materialsandtextures img {
    margin:4px;
    padding:4px;
    width:512px;
    height:auto;
    display:flex;
    align-content:center;
}

#backtotop {
    text-align: center;
}

footer {
    margin: 48px;
    padding: 12px;
    text-align:center;
    font-style:oblique;
}